<form [formGroup]="Form" (ngSubmit)="onSubmit()">
    <div>
      <label>ID:</label>
      <input type="number" formControlName="Id">
    </div>
    <div>
        <label for="Firstname">First Name:</label>
        <input type="text" formControlName="Firstname">
        <div *ngIf="Form.get('Firstname')?.invalid && (Form.get('Firstname')?.dirty || Form.get('Firstname')?.touched)"> </div>
    <div>
      <label>Last Name:</label>
      <input type="text" formControlName="Lastname">
    </div>
    <div>
      <label>Date of Birth:</label>
      <input type="date" formControlName="DateOfBirth">
    </div>
    <div>
      <label>Phone Number:</label>
      <input type="tel" formControlName="PhoneNumber">
    </div>
    <div>
      <label>Email:</label>
      <input type="email" formControlName="Email">
    </div>
    <button type="submit" [disabled]="Form.invalid">Submit</button>
  

    <form [formGroup]="Form" (ngSubmit)="onSubmit()">
     
        <div>
          
  </div>
        
       
      
      


  