<h1>Users Over 20 Years Old</h1>
<h3>
  <h3 *ngFor="let user of users">
     <div *ngIf="user.age > 20"> <!--this will display users that are older than 20 -->
      {{ user.Name }} {{ user.LastName }} - {{ user.age }} 
    </div>
  </h3>
</h3>
<h1>Data passed from parent component</h1>
<app-user [users]="parentUsers"></app-user>

<app-user (childUsersEvent)="receiveData($event)"></app-user>
<h1>Array received from child component</h1>
<div *ngFor="let user of receivedChildUsers">

</div>
<app-form></app-form>